<div style="border: 1px solid black" ng-if="showBeneficiaryEmailSuccessfulMessage === true">
    <div style="border: 1px solid red">
        After you submit your form using the Submit button below, an e-mail notification will be sent out to the delegate to the address:
    </div>
    <div style="border: 1px solid green">{{veteranBeneficiaryInfo.primaryEmail}}</div>
    <div style="border: 1px solid orange">
        <span>
            Please provide an additional e-mail address for delegate if needed:
        </span>
        <span>
            <input type="text" name="beneficiarySecondaryEmail" ng-model="veteranBeneficiaryInfo.secondaryEmail" value=""/>
        </span>
    </div>
    <div style="border: 1px solid blue">
        <span>
            If you would like to receive a copy of this e-mail, please enter your e-mail address here:
        </span>
        <span>
            <input type="text" name="veteranEmail" ng-model="veteranInfo.primaryEmail" value=""/>
        </span>
    </div>
    <div style="border: 1px solid purple; align:right">
        <button type="submit" value="Submit" ng-click="emailBeneficiaryController.sendEmail()"></button>
    </div>
</div>
<div style="border: 1px solid black" ng-if="showBeneficiaryEmailSuccessfulMessage === false">
    <div style="border: 1px solid red">
        <b>Your {{action}} form has successfully been submitted!</b>
    </div>
    <div style="border: 1px solid green">
        An e-mail notification has been sent to {{veteranBeneficiaryInfo.fullName}} at {{veteranBeneficiaryInfo.primaryEmail}} {action} a VA Healthcare Proxy delegation.<br>
        Your request was submitted on {{todaysDate | date : format}}.</div>
    <div style="border: 1px solid orange">
        <span>
            Please provide an additional e-mail address for delegate if needed:
        </span>
        <span>
            <button type="submit" value="Return Home" ng-click="navigateTo(homePath)"></button>
        </span>
    </div>
</div>